* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #mainContent {
  background: #ebf2ed !important;
}

#wrapper {
  margin: 1px 4% 2% 4% !important;
}

.character {
  color: white;
}

.column {
  display: inline-block;
}

.instructions {
  color: black;
  margin: 0.5rem;
  max-width: 64rem;
}

.instructions p {
  line-height: 1.4;
}

.character__stats,
.character__info {
  display: inline-block;
  vertical-align: top;
  margin: 0.5rem;
  padding: 1rem;
  width: 32rem;
  max-width: 32rem;
  background-color: #3163c0;
  border: 3px solid #e8e0c2;
  position: relative;
  outline: 2px solid #58523b;
}

.character__img-wrapper {
  display: inline-block;
  width: 10rem;
}

.character__img {
  width: 10rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.character__desc {
  vertical-align: top;
  display: inline-block;
  margin-left: 1rem;
  width: calc(100% - 11rem);
}

.character__name {
  font-size: 2rem;
  display: inline-block;
}

.character__lvl {
  display: inline-block;
  float: right
}

.character__lvl-data {
  font-size: 2rem;
}

.character__info .bold {
  font-weight: bold;
}

.level_controls {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: .5rem 0 0 0;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: .2rem;
  background: #bbbbbb;
  outline: none;
  display: inline-block;
  margin: .5rem 0 .5rem 0;
}

.level_btn {
  background-color: #e8e0c2;
  border: 1px solid black;
  padding: 2px 4px;
  display: inline-block;
  border-radius: 4px;
  width: 2rem;
  cursor: pointer;
  margin: .5rem 0.25rem .5rem 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.2rem;
  height: 1.2rem;
  background: white;
  border-radius: 10px;
  cursor: pointer;
}

.character__reset {
  float: right;
  display: inline-block;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  padding: .3rem .5rem .3rem .3rem;
  font-size: 1rem;
  background: none;
  margin-top: 1rem;
}

.promote-container {
  margin-top: 0.25rem;
}

.attr__name {
  width: 2rem;
  display: inline-block;
  color: #fffe40;
}

.attr__input {
  margin-left: .5rem;
  width: 3.5rem;
  display: inline-block;
}

.attr__input-form {
  width: 2.5rem;
  font-size: 1rem;
  padding: 1px;
  margin-top: 2px;
}

.at-cap {
  font-weight: bold;
}

.attr__avg {
  margin-left: .75rem;
  width: 4rem;
  display: inline-block;
}

.attr__growth {
  margin-left: .75rem;
  width: 3.5rem;
  display: inline-block;
}

.attr__cap {
  margin-left: .75rem;
  width: 3rem;
  display: inline-block;
}

.character_select_img {
  border: 1px solid grey;
  padding: .5rem;
  margin: 1px;
  height: 10rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #wrapper {
    margin: 1px 1% 1% 1% !important;
  }
  .character__img {
    width: 5rem;
  }
  .character__img-wrapper {
    width: 5rem;
  }
  .character__desc {
    width: calc(100% - 6rem);
  }
  .character__stats,
  .character__info {
    width: 22rem;
  }
}
